.workplaceCheckcontainer{
    position: fixed;
    top: 3vh;
    background-color: whitesmoke;
    left: 20vw;
    border: 2px solid #565656;
    height: 70vh;   
}
.warehouseCheckcontainer
{
    border: 2px solid #565656;
    background-color: whitesmoke;
    height: 70vh;
    top: 3vh;
    position: fixed;
    left: 0;
}
.dateFilterCheckcontainer{
    background-color: whitesmoke;
    width: 10vw;
    height: 70vh;
    border: 2px solid #565656;
    position: fixed;
    top: 3vh;
    left: 40vw;
}
.fillterCheckcontainer{
    background-color: whitesmoke;
    height: 70vh;
    width: 30vw;
    border: 2px solid #565656;
    border-radius: 20;
    position: fixed;
    top: 10vh;
    left: 35vw;
    display: flex;
    justify-content: center;
}
.WarehouseCheckbox {
    border: 2px solid #565656;

    display: flex;
    flex-direction: column;
    height:65vh; /* Set height to 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border around the container */
    width: 20vw;
}
.WorkPlaceCheckbox{

    display: flex;
    flex-direction: column;
    height: 65vh; /* Set height to 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border around the container */
    width: 20vw;
}
.Checkboxes{
    display: flex;
    flex-direction: row;
}
.Buttons{
    display: flex;
    flex-direction: row;
}
.button-warehouse{
    width: 20vw;
    display: flex;
    margin-top: 1vh;
    justify-content: center;
}
.button-workplace{
    width: 20vw;
    display: flex;
    margin-top: 1vh;
    justify-content: center;
}
.receipt-info {
    position: fixed; /* Ensures the div stays fixed and overlays content */
    top: 0;          /* Positions the element at the top */
    left: 0;         /* Positions the element at the left */
    width: 100vw;    /* Full width of the viewport */
    height: 100vh;   /* Full height of the viewport */
    background-color: rgb(255, 255, 255); /* Semi-transparent background for overlay effect */
    z-index: 999;    /* High z-index to ensure it appears on top of other content */
    display: flex;   /* Center the content vertically and horizontally */
    justify-content: center;
}
.receipt-info-close-button
{ 
    position: fixed;
    right: 0;
    top: 0;
    
}
.receipt-button{
        background-color: #565656;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;       
         height: 3vh;
        width: 10vw;
        color: white;
}
.select-buttons{
    background-color: #565656;
    border:2px solid #939393;

    height: 3vh;
    width: 10vw;
    color: white;
}
.receipt-param-type{
    
    font-size: 2.2vh;
    display: flex;
    flex-grow: 1;
    border: 1px solid #000000;
    justify-content: center;
    font-weight: bold;
    flex-basis: 5%;

}
.receipt-param-type-name{
    flex-basis: 10%;

    font-size: 2.2vh;
    display: flex;
    flex-grow: 3;
    border: 1px solid #000000;
    justify-content: center;
    font-weight: bold;
}